/* CONFIGURAÇÕES INICIAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  }

a{
  text-decoration: none;
}

/* LOGO E NOME DA PAGINA */


.logo{
  display: flex;
  justify-content: left;
}


.logo a{
  color: white;
}

.logoName{
  padding-top: 15px;
  padding-left: 10px;
  text-decoration: none;
}

.logoimg{
  width: 60px;
  padding: 4px;
}

/* TELA INICIAL */



/* #componente-tv{
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 46%;
  top : 10%;
} */
 #componente-tv{
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 46%;
  height: 68%;
  top : 10%;
}


#titulo-index{
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  top: 130px;
  left: 3%;
  color: white;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

div#tv-radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50px;
  top: 150px;
  margin: auto;
}

div#tv-radio #tv{
  width: 65%;
  border-radius: 10px;
}

.troca_canais{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 79%;
  left: 60%;
}

.troca_canais button{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0); /* Branco com 50% de transparência */
  border: 10px solid red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.troca_canais button:hover{
  background-color: rgba(255, 255, 255, 0);
  color: gray;
}

/* BACKGROUND */

.fundo{
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

header#menu-header{
  z-index: 1000000;
}

/* MENU */

.menu{
  display: flex;
  list-style: none;
  text-decoration: none;
  padding-left: 25px;
  padding-top: 3px;
  background-color: black;
  z-index: 10000000;
}

.menu li a{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: block;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.menu li a:hover{
  background-color: rgb(255, 0, 0);
  color: black;
}
/* Quizes e Curiosidades */

.quizes-curiosidades{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 200px;
  column-gap: 100px;
  row-gap: 50px;
}

.quizes-curiosidades div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
.quizes-curiosidades img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: solid 4px black;
}

.quizes-curiosidades h2{
  color: white;
  background-color: rgba(13, 72, 100, 0.381);
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;

}

.fundo-botao-jogar{
  display: flex;
  justify-content: center;
  border: solid 2px black;
  border-radius: 10px;
}

.fundo-botao-jogar:hover {
  background-color: white;
}

.fundo-botao-jogar a{
  padding: 8px 28px;
  color: black;
}

.img-quiz{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: solid 4px black;
}

/* 1 ° Historia */

.brasil_na_copa{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 100px;
  gap: 120px;
}

.brasil_na_copa img{
  width: 500px;
  height: 300px;
  border: solid 4px black;  
}


.brasil_na_copa .campo_paragrafo{
  padding: 30px;
  font-size: 23px;
  color: white;
  width: 700px;
  background-color: rgba(13, 72, 100, 0.793);  
  border: solid 4px black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.campo_paragrafo p{
  display: flex;
  justify-content: left;
  text-indent: 50px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.campo_paragrafo a{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}

.campo_paragrafo a:hover{
  color: white;
  background-color: black;
}

.imagem-com-legenda p{
  display: flex;
  font-size: 20px;
  color: white;
  background-color: rgba(13, 72, 100, 0.793);
  border: solid 4px black;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;

}

/* QUIZES */

.centralizar-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.questions h2{
  color: white;
  border-radius: 10px;
  padding: 10px;

}

.questions{
  display: flex;
  border-radius: 20px;
  border: solid 4px black;
  width: 1000px;
  height: 600px;
  justify-content: center;
  background: rgba(9, 23, 29, 0.793);
}

.content{
  display: flex;
  width: 80%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.content img{
  border: solid 4px black;
  border-radius: 10px;
}

.content .quantidade-questoes{
  color: white;
}

.content div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.spnQtd{
  text-align: end;  
  font-size: 20px;
  display: flex;
  align-items: center;
}

.answers{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.answers button{
  background-color: rgba(13, 72, 100, 0.793);
  text-align: center;
}

.question{
  display: flex;
  font-size: 25px;
  color: white;
  justify-content: center;
}

.finish{
  display: none;
  flex-direction: column;
}

.finish span{
  margin: auto;
  color: white;
  font-size: 50px;
}

.finish button{
  text-align: center;
}

button {
  width: 100%;
  text-align: start;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008CCC;
  color: white;
 
}

/*FORMULARIO FEEDBACK*/

.feedback {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form h2 {
  color: white;
}

label {
  display: block;
  color: #333;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.formulario{
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 72, 100, 0.793);
  padding: 20px;
  width: 1000px;
  gap: 10px;
  height: 500px;

}

.formulario>*{
  margin: 0 auto;
}

label{
  color: white;
}

textarea{
  height: 100vh;
}

.botao-enviar{
  display: flex;
  justify-content: center;
  width: 80px;
}



